@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<Magazin_Bijoux.Models.CartItem>

@{
    ViewData["Title"] = localizer["title"] ;
    string productList = "";
    float totalPrice = 0;
}
<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<style>
    @*a, p, h3 {
        color: black;
    }*@
    .fancy-font {
        color: black;
        font-family: 'Oranienbaum';
    }
    .f-size {
        font-size: 18px;
    }
    .small_cart_img {
        width: 140px;
        height: 160px;
        border: 1px solid rgba(0,0,0,0.8);
        box-shadow: 0px 3px rgba(0,0,0,0.1);
    }
    .product_link {
        display: flex;
        flex-direction: row;
    }
    a:active {
        font-size: inherit;
    }
    input{
        border:none;
        text-decoration:none;
        text-align:center;
        background-color:aliceblue;
        padding: 10px 20px; 
    }
</style>
<h3 class="fancy-font">@localizer["my cart"]</h3>
<div>
    @foreach (var item in Model)
    {
        totalPrice += item.getTotalPrice();
        productList += item.quantity+" "+item.product.name+": $"+item.getTotalPrice()+"<br>";
        <hr />
        <div style="display:flex; justify-content:space-between;">
            <a class="product_link" asp-controller="Products" asp-action="Product" asp-route-id="@item.product.id">
                    <img class="small_cart_img" src=@String.Format("/Product_img280x373/{0}.png", item.product.imageURL) />
                    <div style="margin-left: 17px; margin-top: 20px;"class="fancy-font f-size">
                        <p>@Html.DisplayFor(modelItem => item.product.name)</p>
                        <p>$@Html.DisplayFor(modelItem => item.product.price)</p>
                    </div>
            </a>
            <div>
                <div style="display:flex; flex-direction:row; margin-top: 40px;"class="fancy-font f-size">
                    <form asp-controller="CartItems" asp-action="RemoveFromCartAndReturn" asp-route-id="@item.productId">
                        <input type="hidden" name="action" value="Cart" />
                        <input type="hidden" name="controller" value="CartItems" />
                        <input type="hidden" name="hasParameter" value="false" />
                        <div class="form-group" style="text-align:center">
                            <input type="submit" value="-" />
                        </div>
                    </form>
                    <p style="display: flex; align-items: center;">@Html.DisplayFor(modelItem => item.quantity)</p>
                    <form asp-controller="CartItems" asp-action="AddToCartAndReturn" asp-route-id="@item.productId">
                        <input type="hidden" name="action" value="Cart" />
                        <input type="hidden" name="controller" value="CartItems" />
                        <input type="hidden" name="quantity" value=1 />
                        <input type="hidden" name="hasParameter" value="false" />
                        <div class="form-group" >
                            <input type="submit" value="+" />
                        </div>
                    </form>
                    <p style="display: flex; align-items: center;">$@item.getTotalPrice()</p>
                </div>
            </div>

            <form asp-controller="CartItems" asp-action="DeleteFromCart" asp-route-id="@item.itemId">
                <input type="hidden" name="action" value="Cart" />
                <input type="hidden" name="controller" value="CartItems" />
                <input type="hidden" name="hasParameter" value="false" />
                <div class="form-group" style="font-size:20px;">
                    <input type="submit" value="X" />
                </div>
            </form>
        </div>
    }
    <hr />
    <p class="fancy-font f-size">Total: $@totalPrice</p>

    <form asp-controller="Mail" asp-action="SendPurchaseMail">
        <input type="hidden" name="UserName" value="@UserManager.GetUserAsync(User).Result.UserName" />
        <input type="hidden" name="ToEmail" value="@UserManager.GetUserAsync(User).Result.Email" />
        <input type="hidden" name="ItemList" value="@productList" />
        <input type="hidden" name="TotalPrice" value="@totalPrice" />
        <div class="form-group">
            <input type="submit" value=@localizer["finish purchase"] class="card__button btn-primary" />
        </div>
    </form>
</div>