@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<Magazin_Bijoux.Models.Product>
@{
    ViewData["Title"] = "Home";
}
<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<section class="home__showcase">
    <div class="home__arrow">
        <img src="~/Icons/Arrow_left.png" alt="leftArrow" />
    </div>@**@
    <div class="home__items">
        @foreach (var item in Model)
        {
            <div class="home__card">
                <div class="card__image">
                    <a asp-controller="Products" asp-action="Product" asp-route-id="@item.id" class="card__image">
                        <img src=@String.Format("/Product_img280x373/{0}.png", item.imageURL) alt="cardImage.png" />
                    </a>
                </div>
                <div class="card__text">@Html.DisplayFor(modelItem => item.name)</div>
                <div class="card__text">$@Html.DisplayFor(modelItem => item.price)</div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <form asp-controller="CartItems" asp-action="AddToCartAndReturn" asp-route-id="@item.id">
                        <input type="hidden" name="action" value="Index" />
                        <input type="hidden" name="controller" value="Home" />
                        <input type="hidden" name="quantity" value=1 />
                        <input type="hidden" name="hasParameter" value="false" />
                        <div class="form-group">
                            <input type="submit" value="@localizer["add to cart"]" class="card__button btn btn-primary" />
                        </div>
                    </form>
                }
                else
                {
                    <div class="form-group">
                        <a class="card__button btn btn-primary" asp-area="Identity" asp-page="/Account/Login">@localizer["add to cart"]</a>
                    </div>
                }
            </div>
            if (item.id.Contains('4')) break;
        }
    </div>

    <div class="home__arrow">
        <img src="~/Icons/Arrow_right.png" alt="rightArrow.png" />
    </div>
</section>

<section class="home__info">
    <div class="info__container">
        <div class="info__text">
            @localizer["Home Info"]
        </div>

        <a class="info__button" style="margin-top:10px;" asp-area="" asp-controller="Home" asp-action="Shop">@localizer["shop now"]</a>
    </div>
    <div class="info__image">
        <img src="~/Description_Cut.png" alt="footer.jpg" />
    </div>
</section>