@{
    ViewData["Title"] = localizer["legal page"];
}
<head>
    <link rel="stylesheet" href="~/css/aviz.css" />
</head>
<div>
    @localizer["selling conditions"]
    <div class="text__container">
        <div class="text__wrapper">
            @localizer["product"]
        </div>
        <div class="text__wrapper">
            @localizer["order"]
        </div>
        <div class="text__wrapper">
            @localizer["confirmation"]
        </div>
        <div class="text__wrapper">
            @localizer["payment"]
        </div>
    </div>
</div>